<style> 
    canvas {
        display: block;
       
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        border: 10px solid white;
    }
</style>

<div>
    <canvas id="canvas" width="500" height="500"></canvas>  
</div>
<script src="~/js/snakegame.js"></script>
