html {
    font-family: "arial";
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#container {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background: url(https://unsplash.it/250/250/);
    background-position: center center;
    perspective: 200px;

    div {
        width: 50px;
        height: 50px;
        float: left;
        background: #76829a;
        transition: all 0.3s;
        backface-visibility: visible;

        &.flip {
            transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg);
            opacity: 0;
        }

        &.flip-delay {
            transition-delay: 0.2s;
        }

        &:hover {
            box-shadow: inset 0 0 5px #fff;
        }
    }
}
